<br />
<div class="input-group">
    <form name="editForm" novalidate>
        <table id="personTable">
            <tr>
                <td>ID</td>
                <td>
                    <div data-ng-bind="Person.person_key"></div></td>
            </tr>
            <tr>
                <td>Email: </td>
                <td class="inputbox"><input type="email" name="email" placeholder="Email" class="form-control" data-ng-model="Person.email" required /></td>
                <td>
                    <div class="error" ng-show="newForm.email.$dirty && newForm.email.$invalid">
                        <small class="error" ng-show="newForm.email.$error.required">
                            Your Email is required.
                        </small>
                        <small class="error"
                               ng-show="newForm.email.$error.email">
                            That is not a valid email. Please input a valid email.
                        </small>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <button type="submit" ng-click="SaveUpdate(Person.id)" class="btn btn-success">Update Person</button>
                </td>
                <td colspan="2"><div id="message"></div></td>
            </tr>
        </table>
    </form>
</div>