<table border="1">
    <tr>
        <th style="padding:5px;">ID</th>
        <th style="padding:5px;width: 200px;">Email</th>
        <th style="padding:5px;">Edit</th>
        <th style="padding:5px;">Delete</th>
    </tr>
    <tr data-ng-repeat="p in People">
        <td style="padding:5px;" id="{{'id-' + p.person_key}}" data-ng-bind="p.person_key"></td>
        <td style="padding:5px;" id="{{'nameforid-'+p.person_key}}"><span data-ng-bind="p.email"></span></td>
        <td><a style="-ms-border-radius:0; border-radius:0;" href="{{'#/Edit/' + p.person_key}}" class="btn btn-success btn-sm">EDIT</a></td>
        <td><input style="-ms-border-radius:0; border-radius:0;" type="submit" class="btn btn-success btn-sm" value="DELETE" data-ng-click="DeleteEntry(p.person_key)" /></td>
    </tr>
</table>